@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css");
@import url("https://pro.fontawesome.com/releases/v5.12.0/css/all.css");
@import url("css/lightbox.min.css");
@import url("css/style.css");
@import url("css/img.css");
@import url("css/oth.css");
@import url("css/tech.css");
@import url("css/other.css");
@import url("css/dark-mode.css");
@import url("css/skills.css");