    #pr {
        vertical-align: middle;
        text-align: center;
    }
    
    @media (min-width: 576px) {
        div.frame {
            display: inline-block;
            margin-top: -50px;
        }
        div.frame:hover span.outline {
            transform: rotate(5deg);
            top: -20px;
        }
        div.frame:hover p.title {
            color: #B93A3A;
        }
        div.frame span {
            display: inline-block;
            border-radius: 50%;
            padding: 10px;
        }
        span.outline {
            border-radius: 50%;
            background: linear-gradient(135deg, #B93A3A, #752B2B);
            box-shadow: 5px 5px 6px black;
            position: relative;
            top: 0px;
            transition: ease-in-out .3s;
        }
        span.spacing {
            background: #333;
        }
        span.frame-spacing {
            background: #333;
            box-shadow: 5px 5px 6px black;
        }
        span.image {
            width: 185px;
            height: 185px;
            background-image: url(aru1.jpg);
            background-size: cover;
            background-position: center;
        }
        div.text p {
            margin: 0px;
            cursor: default;
        }
        div.text p.title {
            margin-top: 15px;
            font-size: 31px;
            color: #ddd;
            transition: ease-in-out .3s;
        }
        div.text p.desc {
            margin-top: -5px;
            font-size: 20px;
            color: #888;
            margin-left: 30px;
        }
    }
    
    @media (min-width: 768px) {
        div.frame {
            display: inline-block;
            margin-top: -50px;
        }
        div.frame:hover span.outline {
            transform: rotate(5deg);
            top: -20px;
        }
        div.frame:hover p.title {
            color: #B93A3A;
        }
        div.frame span {
            display: inline-block;
            border-radius: 50%;
            padding: 10px;
        }
        span.outline {
            border-radius: 50%;
            background: linear-gradient(135deg, #B93A3A, #752B2B);
            box-shadow: 5px 5px 6px black;
            position: relative;
            top: 0px;
            transition: ease-in-out .3s;
        }
        span.spacing {
            background: #333;
        }
        span.frame-spacing {
            background: #333;
            box-shadow: 5px 5px 6px black;
        }
        span.image {
            width: 185px;
            height: 185px;
            background-image: url(aru1.jpg);
            background-size: cover;
            background-position: center;
        }
        div.text p {
            margin: 0px;
            cursor: default;
        }
        div.text p.title {
            margin-top: 15px;
            font-size: 31px;
            color: #ddd;
            transition: ease-in-out .3s;
        }
        div.text p.desc {
            margin-top: -5px;
            font-size: 20px;
            color: #888;
        }
    }
    
    div.frame {
        display: inline-block;
    }
    
    div.frame:hover span.outline {
        transform: rotate(5deg);
        top: -20px;
    }
    
    div.frame:hover p.title {
        color: #B93A3A;
    }
    
    div.frame span {
        display: inline-block;
        border-radius: 50%;
        padding: 10px;
    }
    
    span.outline {
        border-radius: 50%;
        background: linear-gradient(135deg, #B93A3A, #752B2B);
        box-shadow: 5px 5px 6px black;
        position: relative;
        top: 0px;
        transition: ease-in-out .3s;
    }
    
    span.spacing {
        background: #333;
    }
    
    span.frame-spacing {
        background: #333;
        box-shadow: 5px 5px 6px black;
    }
    
    span.image {
        width: 185px;
        height: 185px;
        background-image: url(aru1.jpg);
        background-size: cover;
        background-position: center;
    }
    
    div.text p {
        margin: 0px;
        cursor: default;
    }
    
    div.text p.title {
        margin-top: 15px;
        font-size: 31px;
        color: #ddd;
        transition: ease-in-out .3s;
    }
    
    div.text p.desc {
        margin-top: -5px;
        font-size: 20px;
        color: #888;
        margin-right: 15px;
    }
    
    .name>img {
        margin-left: 95px;
        align-items: center;
    }